<h2> Enter Symbol and Price </h1>

<%= form_for :price do |f| %>
  <p>
    <%= f.label :symbol %><br>
    <%= f.text_field :symbol %>
  </p>
 
  <p>
    <%= f.label :price %><br>
    <%= f.text_area :float %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

